:root {
  --bg-color: #eae8e8;
  --inverted-bg-color: #021a5b;


  --primary-color: #0830af;
  --secondary-color: #0d65ff;
  --inverted-primary-color: #037003;
  --inverted-secondary-color: #04e504;
}