:root {
    --bg-color: #d3d2d2;
    --inverted-bg-color: #021a5b;
    --primary-color: #0830af;
    --secondary-color: #0d65ff;
    --inverted-primary-color: #037003;
    --inverted-secondary-color: #04e504;
}
